body {
    overflow-x: hidden;
}


.headerbg{
    background-image: url(../img/redding-cleaning-company.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    padding: 2rem 3rem;
    margin: -10px;
    
}


.navlinks{
    display: flex;
    justify-content: space-between;
}

#logo{
    text-decoration: none;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20pt;
    font-weight: bolder;
    /* background-color: rgb(7, 173, 96); */
    /* padding left: 3rem;  */
    text-align: center;
}

span{
    color: #89BE60;
    size: 30px;
}

.ullist{
    display: flex;
    list-style: none;
    gap: 30px;
}

.navli{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.navli:hover {
    color: rgb(7, 173, 96);
}


.headertextandbtn{
    
    margin-top: 6rem;
    margin-left: 10rem;
    /* margin-bottom: 4rem; */
    }

.headertext h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    font-size: 50px;
}

.headertext p{
    font-family: sans-serif;
    font-size: large;
    color: white;
    margin-bottom: 30px;
    margin-top: 5px;


}

.headerbtn{
    background-color: #89BE60;
    padding: 10px 20px;
    border-radius: 2rem;
    border: none;
    font-size: 15px;
    color: white;
}

.headerbtn a {
    text-decoration: none;
    color: white;
    font-size: large;
}

.headerbtn:hover{
    background-color: transparent;
    border: solid white;
}

.image-div img {
    margin-top: -80px;
    width: 100vw;
    margin-left: -10px;
}

.sec1{
    display: flex;
}

.sec1 img{
    width: 40vw;
    margin-left: 5rem;
    margin-top: 5rem; 
}

.sec1text{
    margin-left: 8rem;
    margin-top: 3rem;
}

.sec1text h2{
    font-family: cursive;
    color:#293890;
    font-size: 40px;
}

.sec1text h4{
    font-family: monospace;
    font-size: 20px;
    color: #89BE60 ;
}

.sec1text p{
    font-size: 20px;
    color: #666666;
}

.sec2 h3{
    text-align: center;
    font-size: 30px;
    color: #293890 ;
    margin-top: 6rem;

}

.sec2img{
    display: flex;
    margin-top: 3rem;
    width: auto;
    height: 25vh;
    margin-left: 5rem;
    
    
