body {
    overflow-x: hidden;
}


.headerbg {
    background-image: url(../img/redding-cleaning-company.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    padding: 2rem 3rem;
    margin: -10px;

}


.navlinks {
    display: flex;
    justify-content: space-between;
}

#logo {
    text-decoration: none;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20pt;
    font-weight: bolder;
    /* background-color: rgb(7, 173, 96); */
    /* padding left: 3rem;  */
    text-align: center;
}

span {
    color: #89BE60;
    size: 30px;
}

.ullist {
    display: flex;
    list-style: none;
    gap: 30px;
}

.navli {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.navli:hover {
    color: rgb(7, 173, 96);
}


.headertextandbtn {

    margin-top: 6rem;
    margin-left: 10rem;
    /* margin-bottom: 4rem; */
}

.headertext h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    font-size: 50px;
}

.headertext p {
    font-family: sans-serif;
    font-size: large;
    color: white;
    margin-bottom: 30px;
    margin-top: 5px;


}

.headerbtn {
    background-color: #89BE60;
    padding: 15px;
    border-radius: 2rem;
    border: none;
    font-size: 15px;
    color: white;
}

.headerbtn a {
    text-decoration: none;
    color: white;
    font-size: large;
}

.headerbtn:hover {
    background-color: transparent;
    border: solid white;
}

.image-div img {
    margin-top: -80px;
    width: 100vw;
    margin-left: -10px;
}

.sec1 {
    display: flex;
}

.sec1 img {
    width: 40vw;
    margin-left: 5rem;
    margin-top: 5rem;
}

.sec1text {
    margin-left: 8rem;
    margin-top: 3rem;
}

.sec1text h2 {
    font-family: cursive;
    color: #293890;
    font-size: 40px;
}

.sec1text h4 {
    font-family: monospace;
    font-size: 20px;
    color: #89BE60;
}

.sec1text p {
    font-size: 20px;
    color: #666666;
}

.sec2text{
    background-image: url(../img/Depositphotos_76816855_l-2015-min.jpg);
    /* background-color: #2939907c; */
    padding:10rem ;
    margin-top: 15rem;
    margin-left: -10px;
    margin-right: -10px;
    
}

.sec2text h1{
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:  rgba(0, 0, 0, 0.863);
    font-size: 50px;
    margin-left: 10rem;
    
    

    

}



/* .sec2 h3 {
    text-align: center;
    font-size: 30px;
    color: #293890;
    margin-top: 10rem;

} */



.sec2 img {
    width: 15vw;
    height: 18vh;
    margin-top: 10rem;
    margin-left: 6rem;
}

.sec2{
    align-items: center;
}

.sec3{
    margin-top: 10rem;
}





.sec3 h3 {
    margin-top: 10rem;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.637);

}

.sec3 p {
    text-align: left;
    margin-left: 20rem;
    font-size: 18px;
    margin-top: 3rem;

}

.sec3text {
    background-image: url(../img/Depositphotos_77862490_l-2015-min.jpg);
    /* background-color: #2939907c; */
    padding:10rem ;
    margin-top: 15rem;
    margin-left: -10px;
    margin-right: -10px;
}

.sec3text h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:  rgba(0, 0, 0, 0.863);
    font-size: 50px;
    margin-left: 22rem;
    

}

#btn {
    margin-top: 3rem;
    margin-left: 35rem;
    border-radius: 2rem;
    padding: 15px;
    font-size: 15px;
    border: none;
    background-color: #89BE60;
}

#btn a {
    text-decoration: none;
    color: black;
    font-size: large;

}

#btn:hover {
    background-color: transparent;
    border: solid black;
}

.sec4text h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgba(0, 0, 0, 0.863);
    font-size: 50px;
    margin-left: 20rem;
    
    
    
    

}


.sec4text {
    background-image: url(../img/RM+Banner+Madison-min.jpg);
    /* background-color: #2939907c; */
    padding:5rem;
    margin-top: 15rem;
    margin-left: -10px;
    margin-right: -10px;
    
}

.sec4 h4 {
    margin-top: 6rem;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.637);
}

.sec4one {
    margin: 4rem 10rem;
    gap: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);

}

.sec4one img {
    width: 5vw;
    height: 5vh;
}

.sec4one h4 {
    font-family: cursive;
    color: rgba(0, 0, 0, 0.61);
}

.sec4one p {
    font-style: italic;
    color: rgba(0, 0, 0, 0.527);
}

.sec5text h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:  rgba(0, 0, 0, 0.863);
    font-size: 50px;
    margin-left: 22rem;
    
    
}

.sec5text {
    background-image: url(../img/Depositphotos_183355822_l-2015-min.jpg);
    /* background-color: #2939907c; */
    padding:5rem ;
    margin-top: 15rem;
    margin-left: -10px;
    margin-right: -10px;
    
}

.sec5 h4 {
    margin-top: 5rem;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.637);
}

.sec5one{
  display: flex;
    margin-bottom: 1rem;
    margin-left: 9rem;
    width: 80%;
    margin: auto;

}

.sec5one img{
    width: 30vw;
    height: 45vh;
    margin-left: 5rem;
    margin-top: 5rem;
}

.sec5one a{
    text-decoration: none;
}

.sec5one-div{
    margin-left: 10rem;
    margin-top: 6rem;

}

.sec6{
    
    margin-top: -10px;
    background-color: #293890;
    padding: 4rem;
    margin-left: -10px;
    margin-right: -10px;
    background-size: cover;
    background-position: center;
}

.sec6 p {
    text-align: center;
}

 .image-div1 img{
    margin-top:20rem;
    width: 100vw;
    margin-left: -10px; 
    
}


