body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}


.headerbg {
    background-image: url(../img/redding-cleaning-company.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    padding-top: 2rem;

}


.navlinks {
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0;
    background-color: white;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#logo {
    text-decoration: none;
    color: #293890;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20pt;
    font-weight: bolder;
    padding-left: 3rem;
    text-align : center;
}

span {
    color: #89BE60;
    size: 30px;
}

.ullist {
    display: flex;
    list-style: none;
    gap: 30px;
}

.navli {
    text-decoration: none;
    color: #293890;
    font-size: 20px;
}

.navli:hover {
    color: rgb(7, 173, 96);
}


.headertextandbtn {

    margin-top: 4rem;
    margin-left: 10rem;
    padding-top: 30px;

}

.headertext h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    font-size: 50px;
}

.headertext p {
    font-family: sans-serif;
    font-size: large;
    color: white;
    margin-bottom: 30px;
    margin-top: 5px;


}

.headerbtn {
    background-color: #89BE60;
    padding: 15px;
    border-radius: 2rem;
    border: none;
    font-size: 15px;
    color: white;
}

.headerbtn a {
    text-decoration: none;
    color: white;
    font-size: large;
}

.headerbtn:hover {
    background-color: transparent;
    border: solid white;
}

.image-div img {
    margin-top: -80px;
    width: 100vw;
    margin-left: -10px;
}

.sec1 {
    display: flex;
}

.sec1 img {
    width: 40vw;
    margin-left: 5rem;
    margin-top: 5rem;
}

.sec1text {
    margin-left: 8rem;
    margin-top: 3rem;
}

.sec1text h2 {
    font-family: cursive;
    color: #293890;
    font-size: 40px;
}

.sec1text h4 {
    font-family: monospace;
    font-size: 20px;
    color: #89BE60;
}

.sec1text p {
    font-size: 18px;
    color: #666666;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.sec2text {
    background-image: url(../img/Depositphotos_76816855_l-2015-min.jpg);
    background-color: #2939907c;
    padding: 10rem;
    margin-top: 15rem;
    margin-left: -10px;
    margin-right: -10px;

}

.sec2text h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgba(0, 0, 0, 0.863);
    font-size: 50px;
    margin-left: 10rem;

}




.sec2 img {
    width: 15vw;
    height: 18vh;
    margin-left: 6rem;
}

.sec2iandt {
    margin-top: 5rem;
    display: flex;

}



.sec2iandt p {
    margin-left: 6rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    color: black;
    

}

.sec2 {
    align-items: center;
}

#sec2-div {
    margin-top: 7rem;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.637);
}

.sec3 {
    margin-top: 10rem;
}





.sec3 h3 {
    margin-top: 10rem;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.637);

}

.sec3 p {
    text-align: left;
    margin-left: 20rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    margin-top: 5rem;

}

.sec3text {
    background-image: url(../img/Depositphotos_76816855_l-2015-min.jpg);
    padding: 10rem;
    margin-top: 15rem;
    margin-left: -10px;
    margin-right: -10px;
}

.sec3text h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgba(0, 0, 0, 0.863);
    font-size: 50px;
    margin-left: 22rem;


}

.btn {
    margin-top: 3rem;
    margin-left: 35rem;
    border-radius: 2rem;
    padding: 15px;
    font-size: 15px;
    border: none;
    background-color: #89BE60;
}

.btn a {
    text-decoration: none;
    color: black;
    font-size: large;

}

.btn:hover {
    background-color: transparent;
    border: solid black;
}

.sec4text h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgba(0, 0, 0, 0.863);
    font-size: 50px;
    margin-left: 20rem;
}


.sec4text {
    background-image: url(../img/Depositphotos_183355822_l-2015-min.jpg);
    padding: 5rem;
    margin-top: 15rem;
    margin-left: -10px;
    margin-right: -10px;

}

.sec4 h4 {
    margin-top: 6rem;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.637);
}

.sec4one {
    margin: 4rem 10rem;
    gap: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);

}

.sec4one img {
    width: 5vw;
    height: 5vh;
}

.sec4one h4 {
    font-family: cursive;
    color: rgba(0, 0, 0, 0.61);
}

.sec4one p {
    font-style: italic;
    color: rgba(0, 0, 0, 0.527);
}

.sec5text h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgba(0, 0, 0, 0.863);
    font-size: 50px;
    margin-left: 22rem;


}

.sec5text {
    background-image: url(../img/Depositphotos_183355822_l-2015-min.jpg);

    padding: 5rem;
    margin-top: 15rem;
    margin-left: -10px;
    margin-right: -10px;

}

.sec5 h4 {
    margin-top: 5rem;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.637);
}

.sec5one {
    display: flex;
}

.sec5one img {
    width: 23vw;
    height: 28vh;
    margin-left: 5rem;
    margin-top: 5rem;
}

.sec5one a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);

}

.sec5one h4 {
    margin-left: 6rem;
    font-family: sans-serif;


}

.sec5one p {
    margin-left: 6rem;
    font-style: italic;
}




.footer {

    margin-top: -10px;
    background-color: #293890;
    padding: 1rem;
    margin-left: -10px;
    margin-right: -10px;
    display: flex;
    flex-direction: column; 
    align-items: center;

}

.footer p {
    margin-top: 4rem;
    color: rgba(0, 0, 0, 0.747);
    font-size: 20px;

}



.image-div1 img {
    margin-top: 20rem;
    width: 100vw;
    margin-left: -10px;
}

.footer img{
    width:7vw;
    height: 6vw;
    margin-top: 4rem;
}